<div>
    <form action="/register" method="post">
        <input id="email" name="email" placeholder="email" type="email"/>
        <button id="submit" type="submit">Register</button>
    </form>
</div>